AUTOENV_ENABLE_LEAVE=1
source ".venv/bin/activate"
export VAGRANT_DEFAULT_PROVIDER="${VAGRANT_DEFAULT_PROVIDER:-virtualbox}"
export MOLECULE_VAGRANT_INVENTORY="${MOLECULE_VAGRANT_INVENTORY:-vagrant.yml}"
export HTTP_PROXY="${HTTP_PROXY:-}"
export ANSIBLE_HOME="${ANSIBLE_HOME:-/tmp/ansible-role-regolith-home}"
export ANSIBLE_LOCAL_TEMP="${ANSIBLE_LOCAL_TEMP:-/tmp/ansible-role-regolith-local}"
export ANSIBLE_REMOTE_TEMP="${ANSIBLE_REMOTE_TEMP:-/tmp/ansible-role-regolith-remote}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-/tmp/ansible-role-regolith-cache}"
