---
extends: default

ignore: |
  .ansible/
  .cache/
  .ci-venv/
  .env/
  venv/
  .github/renovate.json5
  .venv/
  .venv-ci/
  .venv-pr/
  .venv-verify/
  collections/
  molecule/**/.vagrant/

rules:
  line-length:
    max: 150
    level: warning
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  truthy: disable
